.progress_indicator {
    position: fixed; /* Pour le rendre fixe à l'écran */
    bottom: 20px; /* Position par rapport au bas de la fenêtre */
    right: 20px; /* Position par rapport à la droite de la fenêtre */
    width: 60px; /* Ajustez la taille selon vos besoins */
    height: 60px; /* Ajustez la taille selon vos besoins */
    z-index: 1000; /* Pour s'assurer qu'il est au-dessus des autres éléments */
  }
  
  .progress-circle {
    display: block; /* Assurez-vous que le SVG est affiché comme un bloc */
  }